html, body, svg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

body {
    background: url('images/wallhaven-43l83y.jpeg');
    background-size: cover;
}

g {
    cursor: pointer;
    user-select: none;
}
